<h1>sigin</h1>
<form action="/signin" method="POST">
    <label for="new">username:</label><br>
    <input type="text" id= "new" name="username"><br>
    <label for="new2">password:</label><br>
    <input type="password" id="new2" name="password"><br><br>
    <label for="new3">email:</label><br>
    <input type="text" id= "new3" name="email"><br>
    <label for="new4">phone:</label><br>
    <input type="number" id= "new4" name="phone"><br>
    <input type="submit" value="submit"><br>

</form>
<form action="/">
    <input type="submit" value="Back"></form>