<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
     
</head>
<body>
    <div class="container">
        <form method="POST" action="/reset-password">
            <h2>Reset Password</h2>
            <label for="otp">Enter OTP:</label>
            <input type="number" id="otp" name="otp" required>
            
            <label for="new_password">Enter New Password:</label>
            <input type="password" id="new_password" name="new_password" required>
            
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
